Repository youpinyao/anta-element-ui-vue3-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
	"*.{js,jsx,ts,tsx}": "eslint",
	"*.{scss,vue}": "stylelint"
}

feat: init
  src/apis/menu.ts
  src/store/menu.ts
  tsconfig.json
  vue.config.js
Due: eslint

feat: init
  .gitignore
  package.json
  src/main.ts
  vue.config.js
  webpack.config.dll.js
  yarn.lock
Due: eslint

feat: init
  build/dll/check.js
  build/dll/index.js
  build/dll/merge.js
  package.json
  vue.config.js
Due: eslint

feat: init
  src/app.scss
  src/components/Layout/Search/Index.vue
  src/components/Layout/Search/index.scss
Due: stylelint

feat: init
  src/apis/adminApiTokens.ts
  src/apis/adminApiUserInfo.ts
  src/components/Layout/Index.vue
  src/components/Layout/Search/Index.vue
  src/components/Layout/User/Index.vue
  src/models/adminApiTokens.ts
  src/models/adminApiUserInfo.ts
  src/store/menu.ts
  src/store/token.ts
  src/store/user.ts
  src/utils/axios/error.ts
  src/utils/axios/index.ts
  src/utils/axios/interceptors/loading.ts
  src/utils/axios/interceptors/login.ts
  src/utils/axios/interceptors/toast.ts
  src/utils/axios/interceptors/token.ts
  src/utils/axios/types.ts
  src/views/Login/Index.vue
Due: eslint, stylelint

feat: init
  src/router/index.ts
  src/store/router.ts
Due: eslint

feat: init
  src/utils/hooks/useRequest.ts
  src/views/Login/Index.vue
  tsconfig.json
Due: eslint, stylelint

feat: init
  src/store/user.ts
  src/utils/axios/interceptors/login.ts
  src/utils/hooks/useRequest.ts
Due: eslint

feat: init
  src/utils/hooks/useRequest.ts
Due: eslint

feat: init
  package.json
Due: none

feat: gitHooks
  package.json
Due: none

feat: anta cli
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

feat: init
  tsconfig.json
Due: none

feat: anta cli
  build/dll/check.js
  build/dll/index.js
  build/dll/merge.js
  package.json
  src/utils/axios/index.ts
  vue.config.js
  yarn.lock
Due: eslint

feat: anta cli
  package.json
  yarn.lock
Due: none

feat: anta cli
  src/utils/axios/index.ts
  src/utils/axios/types.ts
Due: eslint

feat: yarnrc
  .yarnrc
Due: none

feat: yarnrc
  src/utils/axios/index.ts
Due: eslint

feat: yarnrc
  tsconfig.json
Due: none

feat: yarnrc
  src/utils/axios/interceptors/toast.ts
Due: eslint

feat: yarnrc
  package.json
  yarn.lock
Due: none

build: upgrade anta-cli
  package.json
  yarn.lock
Due: none

build: upgrade anta-cli
  package.json
Due: none

build: stylelint config
  .stylelintrc.js
  yarn.lock
Due: eslint

feat: swagger init
  .eslintrc.js
  .stylelintrc.js
  .swagger.yaml
  package.json
  yarn.lock
Due: eslint

feat: add swagger
  .eslintrc.js
  .swagger.yaml
  package.json
  src/apis/adminApiLogin.ts
  src/apis/adminApiTokens.ts
  src/apis/adminApiUserInfo.ts
  src/components/Layout/User/Index.vue
  src/store/token.ts
  src/views/Login/Index.vue
  vue.config.js
  yarn.lock
Due: eslint, stylelint

feat: add swagger
  vue.config.js
Due: eslint

feat: anta-cli upgrade
  package.json
  yarn.lock
Due: none

build: vue config
  vue.config.js
Due: eslint

feat: user store 优化
  src/components/Layout/Index.vue
  src/store/user.ts
Due: eslint, stylelint

build: upgrade dep
  package.json
  yarn.lock
Due: none

feat: menu
  src/apis/adminApiMenu.ts
  src/apis/menu.ts
  src/components/Layout/Index.vue
  src/components/Layout/Menu/Child/Index.vue
  src/components/Layout/Menu/Index.vue
  src/models/definitions/Definitionad17cf51a443281f268168922cc18c74.ts
  src/models/menu.ts
  src/store/menu.ts
Due: eslint, stylelint

feat: menu
  src/components/Layout/User/Index.vue
  src/components/Layout/User/index.scss
Due: stylelint

feat: menu
  README.md
Due: none

feat: menu
  src/components/Layout/Search/Index.vue
  src/utils/ArrayType.ts
Due: eslint, stylelint

build: upgrade dep
  package.json
  src/components/Layout/Search/Index.vue
  src/utils/ArrayType.ts
  src/utils/PromiseType.ts
  yarn.lock
Due: eslint, stylelint

build: ci
  .gitlab-ci.yml
Due: none
