Repository youpinyao/anta-element-ui-vue3-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

build: ci
  .gitlab-ci.yml
Due: none

feat: menu
  package.json
  src/components/Layout/User/Index.vue
  src/components/Layout/User/index.scss
  src/router/index.ts
  src/router/routes/menu.ts
  src/views/Menu/Index.vue
Due: eslint, stylelint

feat: init loading
  public/index.html
  src/main.ts
Due: eslint

feat: init loading
  src/components/Layout/Search/index.scss
Due: stylelint

fix: menu
  src/components/Layout/Menu/Child/Index.vue
  src/components/Layout/Menu/index.scss
Due: stylelint

feat: menu
  package.json
  public/index.html
  src/apis/adminApiLogin.ts
  src/apis/adminApiMenu.ts
  src/apis/adminApiUserInfo.ts
  src/app.scss
  src/components/Layout/Block.vue
  src/components/Layout/Container.vue
  src/main.ts
  src/router/routes/menu.ts
  src/store/loading.ts
  src/store/menu.ts
  src/store/user.ts
  src/views/Login/Index.vue
  src/views/Menu/Dialog/Index.tsx
  src/views/Menu/Dialog/schema.tsx
  src/views/Menu/Index.tsx
  src/views/Menu/Index.vue
  src/views/Menu/searchSchema.ts
  src/views/Menu/tableSchema.tsx
  vue.config.js
  yarn.lock
Due: eslint, stylelint

feat: page generator
  README.md
  package.json
  src/apis/adminApiMenu.ts
  src/apis/adminApiPageGenerator.ts
  src/app.scss
  src/components/ConfirmButton.tsx
  src/components/Layout/Index.vue
  src/components/Layout/Menu/Index.vue
  src/components/Layout/index.scss
  src/main.ts
  src/router/index.ts
  src/router/routes/pageGenerator.ts
  src/store/menu.ts
  src/utils/axios/index.ts
  src/utils/hooks/useRequest.ts
  src/views/Home.vue
  src/views/Menu/Dialog/Index.tsx
  src/views/Menu/Index.tsx
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/PageTitleEditor.vue
  src/views/PageGenerator/Detail/Table.tsx
  src/views/PageGenerator/Detail/index.scss
  src/views/PageGenerator/Index.tsx
  src/views/PageGenerator/searchSchema.tsx
  src/views/PageGenerator/tableSchema.tsx
  src/views/PageGenerator/typing.ts
  yarn.lock
Due: eslint, stylelint

feat: page generator
  .swagger.yaml
  package.json
  src/apis/adminApiPageGenerator.ts
  src/apis/adminApiPageTemplates.ts
  src/app.scss
  src/utils/axios/interceptors/toast.ts
  src/views/Login/Index.vue
  src/views/PageGenerator/Detail/EditArea/Index.vue
  src/views/PageGenerator/Detail/FormEditor/Index.tsx
  src/views/PageGenerator/Detail/FunctionButton.tsx
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/Placeholder.vue
  src/views/PageGenerator/Detail/SearchEditor/Index.tsx
  src/views/PageGenerator/Detail/SwaggerButton/Index.tsx
  src/views/PageGenerator/Detail/SwaggerButton/readSwaggerPage.ts
  src/views/PageGenerator/Detail/Table.tsx
  src/views/PageGenerator/Detail/TableHeader.tsx
  src/views/PageGenerator/Detail/TableSearch.tsx
  src/views/PageGenerator/Detail/generateDataSource.ts
  src/views/PageGenerator/Detail/index.scss
  src/views/PageGenerator/Detail/swaggerGenerateTransform.ts
  src/views/PageGenerator/Index.tsx
  src/views/PageGenerator/searchSchema.tsx
  src/views/PageGenerator/typing.ts
  yarn.lock
Due: eslint, stylelint

feat: json editor
  package.json
  src/app.scss
  src/components/JsonEditor.tsx
  src/views/Menu/Dialog/Index.tsx
  src/views/PageGenerator/Detail/FormEditor/Index.tsx
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/JsonDialog/index.tsx
  src/views/PageGenerator/Detail/SearchEditor/Index.tsx
  src/views/PageGenerator/Detail/SwaggerButton/Index.tsx
  yarn.lock
Due: eslint, stylelint

feat: json editor
  src/components/Layout/Block.vue
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/Placeholder.vue
Due: stylelint

feat: json editor
  README.md
  package.json
  src/components/JsonEditor.tsx
  src/models/definitions/Definition56ac9c3966392ed8b5b11718e1320523.ts
  src/models/definitions/Definition9aced23fec03a02a3657328fd7312de3.ts
  src/models/pageTemplateApi/AdminApiPage$Templates$pageTemplateId$GetParams.ts
  src/models/pageTemplateApi/AdminApiPage$Templates$pageTemplateId$GetResult.ts
  src/views/PageGenerator/Detail/EditArea/Index.vue
  src/views/PageGenerator/Detail/FormEditor/Index.tsx
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/JsonEditorDialog/index.tsx
  src/views/PageGenerator/Detail/SearchEditorDialog/Index.tsx
  src/views/PageGenerator/typing.ts
  yarn.lock
Due: eslint, stylelint

feat: buttons editor
  .vscode/settings.json
  package.json
  src/components/JsonEditor.tsx
  src/views/PageGenerator/Detail/ButtonsEditor/Index.tsx
  src/views/PageGenerator/Detail/ButtonsEditor/TriggerEditorDialog.tsx
  src/views/PageGenerator/Detail/FormEditor/Index.tsx
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/TableHeaderEditorDialog/Index.tsx
  src/views/PageGenerator/typing.ts
  yarn.lock
Due: eslint, stylelint

feat: table header editor
  package.json
  src/views/PageGenerator/Detail/ButtonsEditor/Index.tsx
  src/views/PageGenerator/Detail/ButtonsEditor/TriggerEditorDialog.tsx
  src/views/PageGenerator/Detail/ButtonsEditor/schema.ts
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/JsonEditorDialog/index.tsx
  src/views/PageGenerator/Detail/SearchEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/TableHeaderEditorDialog/Index.tsx
  src/views/PageGenerator/typing.ts
  yarn.lock
Due: eslint, stylelint

feat: 页面生成
  package.json
  src/views/PageGenerator/Detail/ButtonsEditor/Index.tsx
  src/views/PageGenerator/Detail/ButtonsEditor/TriggerEditorDialog.tsx
  src/views/PageGenerator/Detail/ButtonsEditor/schema.ts
  src/views/PageGenerator/Detail/ButtonsEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/FormEditor/Index.tsx
  src/views/PageGenerator/Detail/FormEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/Placeholder.vue
  src/views/PageGenerator/Detail/Table.tsx
  src/views/PageGenerator/Detail/TableEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/TableHeader.tsx
  src/views/PageGenerator/Detail/generateDataSource.ts
  yarn.lock
Due: eslint, stylelint

feat: generator
  package.json
  src/apis/adminApiPageTemplates.ts
  src/views/PageGenerator/Detail/ButtonsEditor/TriggerEditorDialog.tsx
  src/views/PageGenerator/Detail/FormEditor/Index.tsx
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/SearchEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/SwaggerButton/Index.tsx
  src/views/PageGenerator/Detail/SwaggerButton/readSwaggerPage.ts
  src/views/PageGenerator/Detail/SwaggerButton/swaggerGeneratePageConfig.ts
  src/views/PageGenerator/Detail/TableEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/TableHeader.tsx
  src/views/PageGenerator/typing.ts
  yarn.lock
Due: eslint, stylelint

feat: generator
  src/app.scss
  src/components/AtSearchButtons.vue
  src/components/AtTableHeader.vue
  src/components/Layout/Menu/Child/Index.vue
  src/components/Layout/Menu/Index.vue
  src/components/Layout/Menu/index.scss
  src/store/menu.ts
  src/views/Login/Index.vue
  src/views/Menu/Index.tsx
  src/views/Page/Index.vue
  src/views/PageGenerator/Detail/TableHeader.tsx
  src/views/PageGenerator/Detail/TableSearch.tsx
  src/views/PageGenerator/Index.tsx
Due: eslint, stylelint

feat: generator
  src/components/PageRenderer/Index.vue
  src/views/Login/index.scss
  vue.config.js
Due: eslint, stylelint

feat: generator
  package.json
  src/components/Layout/Block.vue
  src/components/PageRenderer/FunctionButton.tsx
  src/components/PageRenderer/Index.tsx
  src/components/PageRenderer/Index.vue
  src/components/PageRenderer/Search.tsx
  src/components/PageRenderer/Table.tsx
  src/components/PageRenderer/TableHeader.tsx
  src/router/routes/menuTest.ts
  src/store/menu.ts
  src/utils/hooks/useRequest.ts
  src/views/Menu/Dialog/schema.tsx
  src/views/MenuTest/Index.tsx
  src/views/MenuTest/config.json
  src/views/Page/Index.tsx
  src/views/Page/Index.vue
  src/views/PageGenerator/Detail/FunctionButton.tsx
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/SwaggerButton/Index.tsx
  src/views/PageGenerator/Detail/SwaggerButton/readSwaggerPage.ts
  src/views/PageGenerator/Detail/SwaggerButton/swaggerGeneratePageConfig.ts
  src/views/PageGenerator/Detail/Table.tsx
  src/views/PageGenerator/Detail/TableEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/generateDataSource.ts
  src/views/PageGenerator/typing.ts
  tsconfig.json
  vue.config.js
  yarn.lock
Due: eslint, stylelint

feat: generator
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/Table.tsx
  src/views/PageGenerator/Detail/TableHeader.tsx
  src/views/PageGenerator/Detail/TableSearch.tsx
  src/views/PageGenerator/Detail/generateDataSource.ts
Due: eslint, stylelint

feat: generator
  src/apis/adminApiPageTemplates.ts
  src/components/DialogFooter.tsx
  src/components/PageRenderer/FunctionButton.tsx
  src/components/PageRenderer/Index.tsx
  src/components/PageRenderer/Search.tsx
  src/components/PageRenderer/Table.tsx
  src/components/PageRenderer/TableHeader.tsx
  src/components/PageRenderer/typing.ts
  src/views/Menu/Dialog/Index.tsx
  src/views/PageGenerator/Detail/ButtonsEditor/Index.tsx
  src/views/PageGenerator/Detail/ButtonsEditor/TriggerEditorDialog.tsx
  src/views/PageGenerator/Detail/ButtonsEditor/schema.ts
  src/views/PageGenerator/Detail/ButtonsEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/SearchEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/SwaggerButton/Index.tsx
  src/views/PageGenerator/Detail/SwaggerButton/readSwaggerPage.ts
  src/views/PageGenerator/Detail/SwaggerButton/swaggerGeneratePageConfig.ts
  src/views/PageGenerator/Detail/TableEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/TableHeaderEditorDialog/Index.tsx
Due: eslint, stylelint

feat: generator
  src/components/PageRenderer/FunctionButton.tsx
  src/components/PageRenderer/FunctionButtonDialog.tsx
  src/components/PageRenderer/Index.tsx
  src/components/PageRenderer/SchemaForm.tsx
  src/components/PageRenderer/Search.tsx
  src/components/PageRenderer/Table.tsx
  src/components/PageRenderer/TableHeader.tsx
  src/components/PageRenderer/typing.ts
  src/utils/axios/interceptors/login.ts
  src/utils/axios/interceptors/toast.ts
  src/utils/axios/msg.ts
  src/utils/replaceStringParams.ts
  src/views/Login/Index.vue
  src/views/MenuTest/config.json
  src/views/PageGenerator/Detail/ButtonsEditor/TriggerEditorDialog.tsx
  src/views/PageGenerator/Detail/SwaggerButton/Index.tsx
Due: eslint, stylelint

feat: generator
  src/components/PageRenderer/FunctionButtonDialog.tsx
Due: eslint

feat: generator
  src/components/PageRenderer/FunctionButtonDialog.tsx
  src/components/PageRenderer/SchemaForm.tsx
  src/views/MenuTest/config.json
Due: eslint

feat: generator
  src/components/PageRenderer/Index.tsx
  src/components/PageRenderer/Table.tsx
  src/views/MenuTest/config.json
Due: eslint

feat: generator
  src/apis/adminApiPageTemplates.ts
  src/components/PageRenderer/typing.ts
  src/views/NotFound.vue
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/InputEditor.vue
  src/views/PageGenerator/Detail/PageTitleEditor.vue
  src/views/PageGenerator/Detail/SwaggerButton/Index.tsx
  src/views/PageGenerator/Detail/SwaggerButton/readSwaggerPage.ts
  src/views/PageGenerator/Index.tsx
  src/views/PageGenerator/config.tsx
  src/views/PageGenerator/searchSchema.tsx
  src/views/PageGenerator/tableSchema.tsx
Due: eslint, stylelint

feat: generator
  src/main.ts
  vue.config.js
Due: eslint

feat: generator
  src/views/Login/Index.vue
  vue.config.js
  yarn.lock
Due: eslint, stylelint

feat: generator
  src/components/PageRenderer/FunctionButton.tsx
  src/components/PageRenderer/typing.ts
  src/views/PageGenerator/Detail/ButtonsEditor/Index.tsx
  src/views/PageGenerator/Detail/ButtonsEditor/TriggerEditorDialog.tsx
  src/views/PageGenerator/Detail/ButtonsEditor/schema.ts
  src/views/PageGenerator/config.tsx
Due: eslint

feat: generator
  src/apis/adminApiLogin.ts
  src/apis/adminApiMenu.ts
  src/apis/adminApiPageTemplates.ts
  src/apis/adminApiUserInfo.ts
  src/views/MenuTest/config.json
  src/views/PageGenerator/config.tsx
  vue.config.js
Due: eslint

feat: generator
  src/apis/adminApiPageTemplates.ts
  src/components/PageRenderer/Swtich.tsx
  src/components/PageRenderer/Table.tsx
  src/components/PageRenderer/typing.ts
  src/views/Menu/config.tsx
  src/views/Menu/tableSchema.tsx
  src/views/PageGenerator/Detail/SwitchEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/TableEditorDialog/Index.tsx
  src/views/PageGenerator/config.tsx
Due: eslint

feat: generator
  src/components/PageRenderer/FunctionButton.tsx
  src/components/PageRenderer/FunctionButtonDialog.tsx
  src/components/PageRenderer/Index.tsx
  src/components/PageRenderer/typing.ts
  src/router/routes/menuTest.ts
  src/store/menu.ts
  src/views/Menu/Dialog/Index.tsx
  src/views/Menu/Index.tsx
  src/views/Menu/config.tsx
  src/views/Menu/schema.tsx
  src/views/Menu/searchSchema.ts
  src/views/Menu/tableSchema.tsx
  src/views/MenuTest/Index.tsx
  src/views/MenuTest/config.json
  src/views/PageGenerator/Detail/Index.vue
Due: eslint, stylelint

feat: generator
  src/components/PageRenderer/Swtich.tsx
  src/views/PageGenerator/Detail/ButtonsEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/JsonEditorDialog/index.tsx
  src/views/PageGenerator/Detail/SearchEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/SwaggerButton/Index.tsx
  src/views/PageGenerator/Detail/SwitchEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/TableEditorDialog/Index.tsx
Due: eslint, stylelint

feat: generator
  src/components/ConfirmButton.tsx
  src/views/PageGenerator/Detail/Index.vue
Due: eslint, stylelint

feat: model
  src/views/PageGenerator/Detail/SwaggerButton/Index.tsx
Due: eslint

feat: page preview
  src/apis/adminApiPageTemplates.ts
  src/router/index.ts
  src/views/PageGenerator/Detail/Index.vue
  src/views/PagePreview/Index.tsx
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{scss,vue}
