Repository youpinyao/anta-element-ui-vue3-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

feat: page generator
  src/components/PageRenderer/Swtich.tsx
Due: eslint

feat: page generator
  src/app.scss
  src/views/PagePreview/Index.tsx
Due: eslint, stylelint

feat: page generator
  src/components/PageRenderer/Table.tsx
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/SwaggerButton/readSwaggerPage.ts
Due: eslint, stylelint

feat: page generator
  src/components/PageRenderer/Search.tsx
  src/views/PageGenerator/Detail/FormEditorDialog/Index.tsx
Due: eslint

perf: json edtiro
  src/components/JsonEditor.tsx
Due: eslint

fix: swagger generator
  src/views/PageGenerator/Detail/SwaggerButton/Index.tsx
Due: eslint

fix: table editor optimize
  src/components/PageRenderer/Table.tsx
  src/views/PageGenerator/Detail/TableEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/generateDataSource.ts
Due: eslint

fix: table editor optimize
  src/components/PageRenderer/Table.tsx
  src/views/PageGenerator/Detail/Index.vue
Due: eslint, stylelint

fix: form editor label width
  src/views/PageGenerator/Detail/FormEditor/Index.tsx
  src/views/PageGenerator/Detail/FormEditorDialog/Index.tsx
  src/views/PageGenerator/Detail/SearchEditorDialog/Index.tsx
Due: eslint

fix: swagger generator
  src/components/PageRenderer/SchemaForm.tsx
  src/views/PageGenerator/Detail/FormEditor/Index.tsx
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/JsonEditorDialog/Helper.tsx
  src/views/PageGenerator/Detail/JsonEditorDialog/components/array.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/cascader.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/checkbox.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/checkboxButtonGroup.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/checkboxGroup.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/colorPicker.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/datePicker.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/editor.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/formItemBase.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/imageUpload.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/index.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/input.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/inputNumber.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/radio.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/radioButton.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/rate.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/select.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/slider.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/switch.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/textarea.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/timePicker.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/timeSelect.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/transfer.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/tree.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/treeSelect.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/upload.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/virtualSelect.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/index.tsx
Due: eslint, stylelint

fix: swagger generator
  src/views/PageGenerator/Detail/FormEditor/Index.tsx
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/JsonEditorDialog/Helper.tsx
  src/views/PageGenerator/Detail/JsonEditorDialog/components/transfer.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/index.tsx
Due: eslint, stylelint

feat: model update
  src/models/definitions/Definition2bfe8dc821e26092810e4a9742c322bb.ts
  src/models/definitions/Definitionad17cf51a443281f268168922cc18c74.ts
  src/models/pageTemplateApi/AdminV1Page$TemplatesAlias$alias$GetParams.ts
  src/models/pageTemplateApi/AdminV1Page$TemplatesAlias$alias$GetResult.ts
Due: eslint

perf: 页面优化
  package.json
  src/utils/hooks/useRequest.ts
  src/views/Menu/config.tsx
  src/views/Menu/schema.tsx
  yarn.lock
Due: eslint

Upload New File
  www.conf
Due: none

perf: 页面优化
  package.json
  src/apis/adminApiPageTemplates.ts
  src/components/Layout/Index.vue
  src/components/PageRenderer/FunctionButtonDialog.tsx
  src/components/PageRenderer/SchemaForm.tsx
  src/components/PageRenderer/Swtich.tsx
  src/components/PageRenderer/typing.ts
  src/store/menu.ts
  src/store/user.ts
  src/views/Login/Index.vue
  src/views/Menu/Index.tsx
  src/views/Menu/schema.tsx
  vue.config.js
  yarn.lock
Due: eslint, stylelint

docs: remove www
  www.conf
Due: none

feat: form
  package.json
  src/store/menu.ts
  yarn.lock
Due: eslint

fix: form
  package.json
  yarn.lock
Due: none

feat: perf
  package.json
  src/router/routes/page.ts
  src/store/menu.ts
  src/views/Page/Index.tsx
  src/views/PageGenerator/Detail/Index.vue
  src/views/PageGenerator/Detail/JsonEditorDialog/Helper.tsx
  src/views/PageGenerator/Detail/JsonEditorDialog/components/column.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/datePicker.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/index.ts
  src/views/PageGenerator/Detail/SwaggerButton/Index.tsx
  src/views/PageGenerator/Detail/SwaggerButton/readSwaggerPage.ts
  yarn.lock
Due: eslint, stylelint

feat: perf
  src/store/menu.ts
Due: eslint

feat: perf
  src/components/Layout/Index.vue
Due: stylelint

feat: swagger
  package.json
  src/views/PageGenerator/Detail/SwaggerButton/Index.tsx
  src/views/PageGenerator/Detail/SwaggerButton/readSwaggerPage.ts
  yarn.lock
Due: eslint

feat: swagger
  src/views/PageGenerator/Detail/SwaggerButton/readSwaggerPage.ts
Due: eslint

feat: swagger
  src/components/PageRenderer/Table.tsx
  src/views/PageGenerator/Detail/ButtonsEditor/TriggerEditorDialog.tsx
Due: eslint

feat: upload
  src/views/PageGenerator/Detail/JsonEditorDialog/components/index.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/singleImageUpload.ts
  src/views/PageGenerator/Detail/JsonEditorDialog/components/singleUpload.ts
Due: eslint

feat: vue config
  vue.config.js
Due: eslint

feat: upload
  package.json
  src/components/PageRenderer/SchemaForm.tsx
  src/views/PageGenerator/Detail/SwaggerButton/readSwaggerPage.ts
  yarn.lock
Due: eslint

feat: upgrade form
  package.json
  yarn.lock
Due: none

feat: upload
  README.md
  package.json
  src/components/PageRenderer/SchemaForm.tsx
  yarn.lock
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{scss,vue}
